<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Styles/style.css">
    <title>Andy Reinoza Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/Assets/icons/favicon_AR.svg">
</head>
<body>
    <section class="Projects--Container" id="Projetos">
        <h2 class="section-Subtitle"> Meus Projetos</h2>
        <p class="section-Paragraph">Aqui estão alguns dos projetos em que trabalhei na minha aprendizagem como desenvolvedor.</p>
        <article class="Projects--Container--slider">

            <div class="Projects--Container--Card">
                <img src="" alt="" class="Card--Image">
                <h3 class="Card--Title">Batata Bit</h3>
                <p class="Card-Paragraph">Criação de um clone de um protótipo de landing page responsive de um Exchange de criptomoedas.</p>
                <a class="Card--Button" href="https://github.com/AndyReinoza/BataBitPrototype">CONFIRA AGORA</a>
            </div>

            <div  class="Projects--Container--Card" >
                <img src="" alt="" class="Card--Image">
                <h3 class="Card--Title">Contact CRUD</h3>
                <p class="Card-Paragraph" >Gerenciador de contatos. Feito com React, Axios, Html e CSS.</p>
                <a class="Card--Button"  href="https://github.com/AndyReinoza/Gerenciador-Contatos">CONFIRA AGORA</a> 
            </div>

            <div  class="Projects--Container--Card" >
                <img src="" alt="" class="Card--Image">
                <h3 class="Card--Title">MeuCarro.com.br </h3>
                <p class="Card-Paragraph" >E-commerce de venda de automóveis e motos com um CRUD para gestionar estoque dos produtos.</p>
                <a class="Card--Button"  href="https://github.com/MeuCarro-com-br/Meu-carro">CONFIRA AGORA</a> 
            </div>
            
            <div class="Projects--Container--Card">
                <img src="" alt="" class="Card--Image">
                <h3 class="Card--Title">Bio do Instagram</h3>
                <p class="Card-Paragraph" >Criação de uma página de desembarque otimizada e personalizada para uma designer UX/UI.</p>
               <a class="Card--Button" href="https://github.com/vdm17/vdm17.github.io">CONFIRA AGORA</a>
            </div>

            
            <div  class="Projects--Container--Card" >
                <img src="" alt="" class="Card--Image">
                <h3 class="Card--Title">Platzi Video</h3>
                <p class="Card-Paragraph" >Criação de um clone de um protótipo de PlatziVideo, otimizado para um serviço de streaming do filmes.</p>
                <a class="Card--Button"  href="https://github.com/AndyReinoza/PrototypePlatziVideo">CONFIRA AGORA</a> 
            </div>



            <div  class="Projects--Container--Card" >
                <img src="" alt="" class="Card--Image">
                <h3 class="Card--Title">Google Clone</h3>
                <p class="Card-Paragraph" >Clonação do website para desktop criado com HTML e CSS.</p>
                <a class="Card--Button"  href="https://github.com/AndyReinoza/ProyectoCloneGoogle">CONFIRA AGORA</a> 
            </div>

        </article>
    </section>
 
    <footer class="Portfolio-footer">
        <div class="Portfolio-footer-menu">
            <img id="Logo_footer" src="./Assets/icons/AR BLANCO.svg" alt="Logo Andres Reinoza">
            <ul class="Footer-Menu">
                    <li> <a href="https://calendly.com/andresreinoza/meeting">Let's Talk</a> </li>
                    <li> <a href="#sobre-mim">Sobre Mim</a> </li>
                    <Li> <a href="#experiencia">Experiência</a></Li>
                    <li> <a href="#Projetos">Meus Projetos</a></li>
                    <li> <a href="#Contato">Falemos</a></li>
    
            </ul>
        </div>
    </footer>
    <div class="Social-Media">
        <a href="https://www.linkedin.com/in/andresreinozaa/?locale=pt_BR"><img src="./Assets/icons/linkedin_red.svg" alt="LinkedIn" id="Linkedin"></a>
        <a href="https://github.com/AndyReinoza"><img src="./Assets/icons/github_red.svg" alt="Github" id="Github"></a>
        <a href="https://twitter.com/AndyReinozaa"><img src="./Assets/icons/twitter_red.svg" alt="Twitter" id="Twitter"></a>    
        <a href="https://wa.me/558197488448"><img src="./Assets/icons/whatsapp_red.svg" alt="Whatsapp" id="Whatsapp"></a> 
    </div>
</body>
</html>